p {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.715);
}

img {
    height: 500px;
    width: 570px;
}

body {
    text-align: center;
    background-color: aquamarine;
}

.navbar {
    background-color: Black;
    font-size: 50px;
}

.navbar a {
    padding: 20px 25px;
    overflow: hidden;
}

.footer {
    background-color: rgba(165, 42, 42, 0.7);
    font-size: 20px;
}

a:hover {
    color: blue;
}